name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  CSV_URL: "train_pca.csv"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Setup Python sesuai conda.yaml
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.18.0 numpy==2.3.5 pandas==2.3.3 scikit-learn==1.8.0
          # Jika ada requirements.txt, bisa diinstall juga
          pip install -r requirements.txt || echo "No requirements.txt, skipping"

      # Step 4: Jalankan MLproject
      - name: Run MLproject
        run: |
          mlflow run . --env-manager=local -P dataset="${{ env.CSV_URL }}"

      # Step 5: Upload artefak MLflow
      - name: Archive MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: ./mlruns
